.jumbotron {
    background-color: blue;
    color:yellow;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: burlywood;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-videoJuego{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;

}
.span12{ 
    -moz-box-shadow: 0 0 2px black; 
    -webkit-box-shadow: 0 0 2px black; 
    box-shadow: 0 0 2px black; 
} 
.footer-address-icon{
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}
